# Fichiers et répertoires Python à ignorer
__pycache__/
*.pyc

# Environnement virtuel
venv/

# Fichiers spécifiques à l'IDE
.vscode/
*.log
*.sqlite3
.DS_Store

# Fichiers spécifiques à Streamlit
streamlit/

# Autres fichiers générés
*.env
*.idea/
